<div>
  <div class="header">
    <div class="row">
      <div class="col-md-6"><span><img src="../assets/images/logo.png"> </span> </div>
      <div class="col-md-6">
        <br>
        <br><br>
        <span>
          <div class="dropdown">
            <a href="" class="dropbtn">Sanitization</a>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </span>
        <span>
          <div class="dropdown">
            <a href="" class="dropbtn">Home</a>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </span>
        <span>
          <div class="dropdown">
            <a href="" class="dropbtn">Appliences</a>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </span>
        <span>
          <div class="dropdown">
            <a href="" class="dropbtn">Painting</a>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </span>
        <span>
          <div class="dropdown">
            <a href="" class="dropbtn">Plumber</a>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>
  <div>
    <img src="../assets/images/background.jpg" class="img-responsive img">
    <div class="backgr-text">
      <h1>Give missed call</h1>
      <h2>We will serve you better</h2>
    </div>
  </div>
  <div class="footer">
    <footer> Developed By:</footer>
  </div>
</div>